

.wetakecare {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
    margin-top: 3rem;
}

.whatwecando {
    text-align: center;
    font-size: 4rem;
    margin-bottom: 20px;
}

.services {
    margin-top: 5rem;
}

.service-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-bottom: 20px;

}

.service-logo>img {
    height: 100px;
    width: 100px;
}

.service-title {
    font-size: 2rem;
    font-weight: bold;
}

.service-description {
    width: 100%;
    text-align: justify;
    padding: 0 10px;
}

@media (max-width: 768px) {
    .whatwecando {
        font-size: 3rem;
    }

    .service-1 {
        padding: 10px;
    }

    .service-title {
        font-size: 1.5rem;
    }

    .service-description {
        font-size: 1rem;
    }
}

@media (max-width: 576px) {
    .whatwecando {
        font-size: 2.5rem;
    }

    .wetakecare {
        font-size: 1.5rem;
    }

    .service-1 {
        padding: 5px;
    }

    .service-title {
        font-size: 1.2rem;
    }

    .service-description {
        font-size: 0.9rem;
    }
}