/* FAQ.css */
.faq-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    /* padding: 20px; */
}

.faq-header {
    margin-bottom: 20px;
}

.faq-header-image {
    max-width: 100%;
    height: auto;
}

.faqmain {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
    /* Ensure the FAQ main container takes full width */
}

.faq {
    width: 70%;
    /* Make the FAQ items take full width */
    background-color: #1976d2;
    color: aliceblue;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    cursor: pointer;
}

.question {
    margin: 0;

}

.answer {
    background-color: #7da8d4;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    width: 70%;
}