.faq-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
}

.faq-header {
    margin-bottom: 20px;
}

.faq-header-image {
    max-width: 100%;
    height: auto;
}

.faqmain {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.faq {
    width: 70%;
    background-color: #1976d2;
    color: aliceblue;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px; /* Add margin bottom to create a gap */
}

.question {
    margin: 0 2rem;
    font-size: 1.2rem;
}

.answer {
    background-color: #1976d2;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    width: 70%;
    margin-bottom: 10px;

}
.faq.expanded {
    color: black;
    background-color: #6d9ecfc9;
  }
  