.choose{
    margin-bottom: 3rem;
}
.whychooseus {
    text-align: center;
    font-size: 4rem;
    margin-bottom: 20px;
    margin-top: 3rem;
}
.choose-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* height: 200px;
    width: 300px; */
    border: 1px solid rgba(0, 0, 0, 0.42);
    height: 300px;
}
.choose-title{
    font-size: 2rem;
    font-weight: bold;
}
.choose-description {
    margin-top: 3rem;
    width: 90%;
    text-align: justify;
    padding: 0 10px;
}
.choosebox{
    box-shadow:10px 20px 41px -11px rgba(0,0,0,0.75);
}