.contact-title {
    font-size: 3rem;
    text-align: center;
}
.contact-left{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.contact-left>input {
    height: 60px;
}

.contact-btn {
    width: 20%;
    height:50px;
}
.contact-img {
    display: flex;
    justify-content: center;
}

img {
    border-radius: 10px;
}