/* HomeMindPerceptor.css */

.container-fluid {
  margin-top: 20px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col-md-5 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.col-md-5 h1 {
  font-size: 2.4rem;
  font-weight: bold;
  margin-bottom: 20px;
  display: flex; /* Added */
  align-items: center; /* Added */
}

.col-md-5 p {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.col-md-7 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.col-md-7 img {
  width: 50%;
  height: auto;
}
