/* HomeMindPerceptor.css */



/* HomeMindPerceptor.css */

.container-fluid {
  margin-top: 5rem;
  height: auto;
  /* Change height to auto to allow it to adjust based on content */
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col-md-5 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  /* Set width to occupy full width on smaller screens */
  padding: 0 10px;
  /* Add padding to avoid content touching edges */
}

.col-md-5 h1 {
  font-size: 2rem;
  /* Adjust font size for smaller screens */
  font-weight: bold;
  margin-bottom: 20px;
  display: flex;
  /* Added */
  align-items: center;
  /* Added */
}

.col-md-5 p {
  font-size: 1.2rem;
  /* Adjust font size for smaller screens */
  margin-bottom: 20px;
}

.col-md-7 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* Set width to occupy full width on smaller screens */
}

.col-md-7 img {
  max-width: 100%;
  /* Ensure image does not exceed container width */
  height: auto;
  /* Maintain aspect ratio */
}

/* Media Queries */
@media (max-width: 768px) {
  .col-md-5 h1 {
    font-size: 1.8rem;
    /* Adjust font size for smaller screens */
  }

  .col-md-5 p {
    font-size: 1rem;
    /* Adjust font size for smaller screens */
  }

  .col-md-7 img {
    width: 90%;
    /* Adjust width of image for smaller screens */
  }
}

@media (max-width: 576px) {
  .col-md-5 h1 {
    font-size: 1.5rem;
    /* Adjust font size for smaller screens */
  }

  .col-md-5 p {
    font-size: 0.9rem;
    /* Adjust font size for smaller screens */
  }

  .col-md-7 img {
    width: 80%;
    /* Adjust width of image for smaller screens */
  }
}

/* Additional Styling */
.homemp {
  box-shadow: 14px 13px 18px -11px rgba(99, 99, 99, 1);
}

.homemp:hover {
  transform: scale(1.05);
  /* Corrected property name */
  transition: all ease-in-out 0.5s;
  box-shadow: 14px 13px 62px -11px rgba(99, 99, 99, 1);
}


.row {
  display: flex;
  flex-wrap: wrap;
}

.col-md-5 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.col-md-5 h1 {
  font-size: 2.4rem;
  font-weight: bold;
  margin-bottom: 20px;
  display: flex;
  /* Added */
  align-items: center;
  /* Added */
}

.col-md-5 p {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.col-md-7 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.col-md-7 img {
  width: 50%;
  height: auto;
}

/* Media Queries */
@media (max-width: 768px) {
  .col-md-5 h1 {
    font-size: 2rem;
  }

  .col-md-5 p {
    font-size: 1.2rem;
  }

  .col-md-7 img {
    width: 70%;
  }
}

@media (max-width: 576px) {
  .col-md-5 h1 {
    font-size: 1.3rem;
  }

  .col-md-5 p {
    font-size: 1rem;
  }

  .col-md-7 img {
    width: 90%;
  }
}
.homemp{
  box-shadow:14px 13px 18px -11px rgba(99,99,99,1); 
}

.homemp:hover{
  scale: 1.05;
  transition: all ease-in-out 0.5s;
  box-shadow: 14px 13px 62px -11px rgba(99, 99, 99, 1);
}