.nav {
  position: sticky;
  top: 0; /* Stick the navbar to the top of the viewport */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #000000;
  z-index: 1000; /* Ensure the navbar appears above other content */
}

/* Rest of your existing CSS remains unchanged */

.logo {
  flex: 0 0 30%;
  font-size: 2rem;
  color: #fff;
}

.nav-links {
  display: flex;
  flex: 0 0 70%;
  justify-content: flex-end;
}

.nav-links a {
  text-decoration: none;
  color: #fff;
  font-size: 1.4rem;
  font-weight: normal;
  margin-left: 20px;
}

.nav-links a:last-child {
  margin-right: 0;
}

.nav-links a:hover {
  color: #007bff;
}


@media (max-width: 768px) {
  .logo{
    margin: 0 3rem;
  }
  .nav {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-links {
    width: 100%;
    justify-content: space-around;
    margin-top: 20px;
  }

  .nav-links a {
    margin: 10px 10px;
    font-size: 12px;

  }
}